# Gemini AI API Key
GEMINI_API_KEY=AIzaSyAe9M8orYq1-E1geL-f9nG5jj859JtMucQ

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyD1W9lgDDggHAo7VO57d9Cz2ZfaK_p4-g0
FIREBASE_AUTH_DOMAIN=rethread-e7afe.firebaseapp.com
FIREBASE_PROJECT_ID=rethread-e7afe
FIREBASE_STORAGE_BUCKET=rethread-e7afe.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1089027360405
FIREBASE_APP_ID=1:1089027360405:web:fb93dea92ed00b57217d9c
FIREBASE_MEASUREMENT_ID=G-HKXHS3NSFG
